.nav-story {
    margin-top: 600px; /* Mover la sección de historia hacia abajo */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
  
  .image img:last-child {
    margin-bottom: 0;
  }